.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1316db;
  color: white;
  width: 100%;
  font-size: 1.3rem;

  // .title {
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .center-column {
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }
}
