.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red($color: #000000);

  .title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .center-column {
    p {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
